/* .selected{
  max-width: 30px;
   
}
.Photo {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   width: 40px;
   min-height: 100vh;
   background: #1c1c1c;
   display: flex;
}

#img {
   display: block;
   cursor: pointer;
}
.id{
   width: 40px;
   max-width: 30px;
} */
.Photo{
   width: 30px;
}
